
h1, h2, h3, h4, h5, h6{
	font-family: $font-family-title;
}

h2{
	font-weight: 500;
}

p{
	text-align: justify;
}

a:hover, a:focus{
	text-decoration: none;
}	

.button, %button{
	display: inline-block;
	padding: $gutter-small $gutter;
	background-color: $primary;
	color: $primary-text-color;
	font-size: $ft-size-small;
}
.sh-link{
	a{
		@extend %button;
	}
}