
h1, h2, h3, h4, h5, h6{
	font-family: $font-family-title;
}

h2{
	font-weight: 500;
}

p{
	text-align: justify;
}

a{
	//font-weight: bold;
	color: grey;
	@include single-transition(color, 0.4s);
	
	&:hover{
		color: black;
	}

	&.ext-link{
		font-weight: normal;
		text-decoration: none;
		border-bottom: solid thin grey;
		&:after{
			@extend %fa;
			content: "\f08e";
			padding-left: $gutter-small;
		}
	}

	&:hover, &:focus{
		text-decoration: none;
	}	
}	

.button, %button{
	display: inline-block;
	padding: $gutter-small $gutter;
	background-color: $primary;
	color: $primary-text-color;
	font-size: $ft-size-small;
}

%fa{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sh-link{
	a{
		//@extend %button;
		border-bottom: thin solid grey;
	}
}