/**
 * partials/header
 * ---
 */

.highlight{
	&.video{
		padding-top: $gutter-hudge;
	}
	padding-bottom: $gutter;
}

// Header container
.header {
	position: relative;
	z-index: 5;
	width: 100%;
	background-image: url(../img/concrete_seamless.png);
	padding: $gutter-large 0 0 0;

	&.stuck{
		position: fixed;
		top: 0;
		width: $wrapper-width - rem-calc(200);
		max-width: calc(100% - #{rem-calc(200)});

	}

	.site-title, .site-description{
		display: none;
	}

	.logo-img{
		position: absolute;
		top: $gutter;
		height: rem-calc(140);
		left: - rem-calc(150);
	}

	.logo-description{
		margin-left: - rem-calc(4);
    height: rem-calc(70);
    margin-top: $gutter-small;
	}
}

/**
 * partials/nav
 * ---
 * Menus
 */

.nav {
	.menu{
		padding-left: 0;
		font-family: $font-family-title;
		font-size: $ft-size-normal;
		font-weight: bold;
		margin: $gutter-small 0;

		li{
			display: inline-block;
			list-style: none;

			a{
				@include single-transition(background-color, 0.4s);
				display: block;
				background-color: $primary;
				color: $primary-text-color;
				padding: $gutter-small $gutter;
				margin-bottom: $gutter-small;
				text-transform: uppercase;

				&:hover, &.active{
					background-color: black;
				}

				i{
					padding-top: rem-calc(3);
					padding-right: rem-calc(3);
				}
			}

			&.current-menu-item a{
				background-color: black;
			}
		}

		.menu-item-has-children{
			position: relative;

			&:hover .sub-menu{
				display: block;

				li{
					display: block;
				}
			}
		}

		.sub-menu{
			display: none;
	    position: absolute;
	    left: 0;
	    padding-left: 0;
	    white-space: nowrap;
		}
	}
}

