/**
 * partials/wrapper
 * ---
 */
html {
  font-size: $rem-base;
  margin: 0;
  padding: 0;
}

body{
	@include reset-box;
}

body{
	font-size: $ft-size-medium;
	color: $text-color;
}

.wrapper {
  max-width: $wrapper-width;
  padding: 0 0 0 rem-calc(140);
  margin: 0 auto;
  position: relative;

	background-color: $body-bg;
	background-image: url(../img/damier.png);
	background-repeat: repeat-y;
	min-height: 100vh;
}

main{
	padding-top: rem-calc(200);
}

footer{
	overflow: hidden;
}
