/**
 * partials/wrapper
 * ---
 */
html {
  font-size: $rem-base;
  margin: 0;
  padding: 0;
}

body{
	@include reset-box;
}

body{
	font-size: $ft-size-medium;
	color: $text-color;
	background-image: url(../img/concrete_seamless.png);	
}

.wrapper {
  max-width: $wrapper-width;
  padding: 0 rem-calc(40) 0 rem-calc(160);
  margin: 0 auto;
  position: relative;

  // &:before{
  // 	content: '';
  // 	position: absolute;
  // 	top: 0;
  // 	width: 100vw;
  // 	height: 200px;
  // 	background-image: url(../img/test.png);
  // }

	//background-color: $body-bg;
	background-image: url(../img/damier.png);
	background-repeat: repeat-y;
	background-position: rem-calc(50);
	min-height: 100vh;
}

.sidebar{
	overflow: hidden;
}

footer{
	overflow: hidden;
}
